Flask==2.3.3
Flask-SQLAlchemy==3.0.3
Flask-Cors==4.0.0
Flask-Migrate==4.0.4
Flask-Login
psycopg2-binary==2.9.10
SQLAlchemy==2.0.15
python-dotenv==1.0.0
Flask-Bcrypt
Flask-JWT-Extended
Faker
auth
redis
numpy
pandas
scipy
scikit-learn
flake8
pytest