name: Backend CI/CD Pipeline

on:
  push:
    branches: [ develop, main ]
    paths:
      - 'flask_voter_app/**'
  pull_request:
    branches: [ develop ]
    paths:
      - 'flask_voter_app/**'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r flask_voter_app/requirements.txt
          pip install flake8 pytest pytest-cov
          
      - name: Lint code
        run: 
          flake8 --config=flask_voter_app/.flake8 flask_voter_app
          
      - name: Run tests with coverage
        env:
          DATABASE_URL: postgresql://testuser:testpass@localhost:5432/testdb
          FLASK_ENV: testing
          JWT_SECRET_KEY: test-secret-key
        run: |
          echo "Starting test session..."
          cd flask_voter_app
          python -m pytest tests -v --cov=app --cov-report=xml
          echo "Test session completed."

  #     - name: Run tests
  #       run: |
  #         pytest

  #     - name: Build Docker image
  #       run: |
  #         docker build -t mydockerhub/flask-app:latest .

  #     - name: Log in to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     - name: Push Docker image
  #       run: |
  #         docker push mydockerhub/flask-app:latest

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2

  #     - name: Set up Kubectl
  #       uses: azure/setup-kubectl@v1
  #       with:
  #         version: 'v1.21.0'

  #     - name: Deploy to Kubernetes
  #       run: |
  #         kubectl apply -f k8s/deployment.yaml
  #         kubectl apply -f k8s/service.yaml
